@font-face {
    font-family: 'Muller Bold';
    src: url('../fonts/MullerBold/Muller Bold.eot');
    src: url('../fonts/MullerBold/Muller Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBold/Muller Bold.woff2') format('woff2');
    src: url('../fonts/MullerBold/MullerBold.svg#MullerBold') format('svg'),
        url('../fonts/MullerBold/MullerBold.ttf') format('truetype'),
        url('../fonts/MullerBold/MullerBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/MullerRegular/MullerRegular.eot');
    src: url('../fonts/MullerRegular/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular/MullerRegular.svg#MullerRegular') format('svg'),
        url('../fonts/MullerRegular/MullerRegular.ttf') format('truetype'),
        url('../fonts/MullerRegular/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular/MullerRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Demi BoldItalic';
    src: url('../fonts/OswaldDemiBoldItalic/Oswald-Demi-BoldItalic.svg#Oswald-Demi-BoldItalic') format('svg'),
        url('../fonts/OswaldDemiBoldItalic/Oswald-Demi-BoldItalic.ttf') format('truetype'),
        url('../fonts/OswaldDemiBoldItalic/Oswald-Demi-BoldItalic.woff') format('woff');
    src: url('../fonts/OswaldDemiBoldItalic/OswaldDemiBoldItalic.eot');
    src: url('../fonts/OswaldDemiBoldItalic/OswaldDemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OswaldDemiBoldItalic/OswaldDemiBoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
        url('../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff');
    src: url('../fonts/ProximaNovaRegular/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaRegular/ProximaNovaRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

a, a:hover{
	color: #60606e;
}
a:hover, a:active{
	text-decoration: none;
}
ul{
    -webkit-padding-start: 0px;
}
ul li{
    list-style-type: none;
}
body{
    font-size: 14px;
}
.wrapper{
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.wrapper.modal-show::before{
    content: '';
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}

section.starProduct{
    max-width: 74.1%;
    margin: 110px auto;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 700;
}
.starProduct h1{
    color: #0f0401;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url(../img/1-title-bg.jpg) repeat;
    background-position: center bottom;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 5px;
    margin: 0;
}
.starProduct h1::before{
    content: '';
    display: block;
    height: 120px;
    width: 2px;
    background-color: #121212;
    margin: 0 auto 25px;
}
.starProduct h1 + span{
    color: #000;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin: 0 0 65px 0;
    letter-spacing: 4.75px;
}
.starProduct .content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 1435px;
    margin: 0 auto;
}
.starProduct .content > div{
    max-width: calc(50% - 15px);
    width: 100%;
    position: relative;
}
.starProduct .content > div.right{
    margin-top: 185px;
}
.starProduct .content > div img{
    max-width: 100%;
}
.starProduct .content > div >div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: #fff;
    padding: 5% 9.5%;
}
.starProduct .content > div >div span{
    color: #121212;
    font-size: 30px;
}
.starProduct .content > div >div::before{
    content: '';
    display: inline-block;
    height: 2px;
    width: 60px;
    background-color: #a46c53;
    margin-right: 30px;
}

.aboutCompany{
    background-image: url(../img/bg-2.jpg);
    background-color: #111213;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 80px;
    color: #fff;
    position: relative;
}
.aboutCompany::before{
    content: '';
    position: absolute;
    top: 0;
    left: -13.5%;
    display: block;
    height: 100%;
    width: 31%;
    background-color: #111213;
    -webkit-transform: skewX(-28deg);
    -ms-transform: skewX(-28deg);
    transform: skewX(-28deg);
}
.aboutCompany::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% + 353px);
    display: block;
    height: 805px;
    width: 607px;
    background-image: url(../img/2-car.png);    
}
.aboutCompany .title{
    text-align: left;
    position: relative;
    padding-left: 20px;
}
.aboutCompany .title::before{
    content: '+';
    position: absolute;
    left: -15px;
    top: 27px;
    border-radius: 50%;
    background-color: #fabd12;
    height: 5px;
    width: 5px;
    font-size: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #151617;
}
.aboutCompany .title::after{
    content: '';
    position: absolute;
    left: -95px;
    top: 29px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(250, 189, 18, 0)), to(rgba(250, 189, 18, 1)));
    background-image: -webkit-linear-gradient(left, rgba(250, 189, 18, 0), rgba(250, 189, 18, 1));
    background-image: -o-linear-gradient(left, rgba(250, 189, 18, 0), rgba(250, 189, 18, 1));
    background-image: linear-gradient(to right, rgba(250, 189, 18, 0), rgba(250, 189, 18, 1));
    height: 1px;
    width: 80px;
}
.aboutCompany .title h2{
    font-size: 55px;
    font-family: 'Muller Bold';
    text-transform: uppercase;
    margin: 0;
}
.aboutCompany .title span{
    font-size: 18px;
    color: #999898;
    font-family: 'Muller Regular';
    line-height: 1.7;
    display: block;
    margin: 10px 0 8px;
}
.aboutCompany .icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Muller Bold';
    max-width: 1350px;
    margin: 20px auto 0 auto;
    padding-left: 0;
}
.aboutCompany .icons li:nth-child(1){
    margin-left: 20%;
}
.aboutCompany .icons li:nth-child(2){
    margin-left: auto;
    margin-right: 15%;
}
.aboutCompany .icons li:nth-child(3){
    margin-left: 10%;
    margin-top: -30px;
    margin-bottom: 0;
}
.aboutCompany .icons li:nth-child(4){
    margin-left: auto;
    margin-right: 25%;
}
.aboutCompany .icons li:nth-child(5){
    margin-left: 0;
    margin-top: -30px;
}

.aboutCompany .icons li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -20px;
}
.aboutCompany .icons li p{
    margin: 0 0 0 10px;
}
.aboutCompany .icons li .icon{
    display: inline-block;
    height: 136px;
    width: 130px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}
.aboutCompany .icons li:nth-child(1) .icon{
    background-position: 0 0;
}
.aboutCompany .icons li:nth-child(2) .icon{
    background-position: -483px 0;
    width: 150px;
}
.aboutCompany .icons li:nth-child(3) .icon{
    background-position: -145px 0;
}
.aboutCompany .icons li:nth-child(4) .icon{
    background-position: -660px 0;
}
.aboutCompany .icons li:nth-child(5) .icon{
    background-position: -315px 0;
}

.callBack{
    margin: 150px auto;
    background-image: url(../img/bg-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 525px;
    position: relative;
    font-family: 'Oswald Demi BoldItalic';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.callBack::before{
    content:'';
    position: absolute;
    top: -57px;
    left: -11.3%;
    display: block;
    height: calc(100% + 120px);
    width: 45%;
    background-color: #e9eff0;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    z-index: -1;
}
.callBack::after{
    content:'';
    position: absolute;
    top: -82px;
    left: 26%;
    display: block;
    height: 60px;
    width: 559px;
    background-image: url(../img/dots.png);
    z-index: -2;
}
.callBack h3{
    font-size: 72px;
    color: #fff;
    margin: 100px 0 28px 0;
    text-align: center;
}
.callBack form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 71.35%;
    max-width: 1400px;
}
.callBack form .top{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.callBack form label{
    position: relative;
    width: calc((100% - 85px)/3);
    padding: 25px 32px;
}
.callBack form label::before,
.callBack form label::after{
    content: '';
    display: block;
    position: absolute;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.callBack form label::before{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
}
.callBack form label::after{
    top: -7px;
    left: 1px;
    width: 160px;
    height: 46px;
    border-top: 7px solid #0a97aa;
    border-left: 7px solid #0a97aa;
    z-index: 1;
    -webkit-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}
.callBack form label.error::after{
    border-top: 7px solid red;
    border-left: 7px solid red;
    -webkit-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}
.callBack form label span{
    position: absolute;
    right: 5px;
    z-index: 2;
}
.callBack form label span.hint{
    top: 5px;
    color: #a0a0a0;
    opacity: 0;
    font-size: 12px;
    -webkit-transition: opacity ease-in-out .25s;
    -o-transition: opacity ease-in-out .25s;
    transition: opacity ease-in-out .25s;
}
.callBack form label span.active.hint{
    opacity: 1;
    -webkit-transition: opacity ease-in-out .25s;
    -o-transition: opacity ease-in-out .25s;
    transition: opacity ease-in-out .25s;
}
.callBack form label span.error{
    top: -20px;
    color: rgba(255,255,255,.85);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
}
.callBack form label.error span.error::before{
    opacity: 1;
    -webkit-transition: opacity ease-in-out .25s;
    -o-transition: opacity ease-in-out .25s;
    transition: opacity ease-in-out .25s;
}
.callBack form label span.error::before{
    content: '';
    display: block;
    height: 25px;
    width: calc(100% + 20px);
    position: absolute;
    top: -5px;
    left: -10px;
    opacity: 0;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    background-color: rgba(255,0,0,.5);
    -webkit-transition: opacity ease-in-out .25s;
    -o-transition: opacity ease-in-out .25s;
    transition: opacity ease-in-out .25s;
    z-index: -1;
}
input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #a0a0a0;
    z-index: 3;
    position: relative;
    letter-spacing: 1px;
    width: 100%;
}
input.name{
    text-transform: capitalize;
}
input::-webkit-input-placeholder {
    color: inherit;
    text-transform: uppercase;
    font-size: inherit;
}
input::-moz-placeholder {
    color: inherit;
    text-transform: uppercase;
    font-size: inherit;
}
input:-ms-input-placeholder {
    color: inherit;
    text-transform: uppercase;
    font-size: inherit;
}
input:-moz-placeholder {
    color: inherit;
    text-transform: uppercase;
    font-size: inherit;
}
.callBack .bottom button{
    margin-top: 48px;
    font-size: 18px;
    text-transform: uppercase;
    color: #0a97aa;
    background-color: transparent;
    position: relative;
    padding: 16px 80px;
    letter-spacing: 2px;
}
.callBack .bottom button::before,
.callBack .bottom button::after{
    content: '';
    display: block;
    position: absolute;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.callBack .bottom button::before{
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 5px;
    z-index: 1;
}
.callBack .bottom button::after{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 1px solid #0a97aa;
    top: 5px;
    left: -11px;
    z-index: 2;
    -webkit-transition: left ease-in-out .25s;
    -o-transition: left ease-in-out .25s;
    transition: left ease-in-out .25s;
}
.callBack .bottom button:hover::after{
    left: 10px;
    -webkit-transition: left ease-in-out .25s;
    -o-transition: left ease-in-out .25s;
    transition: left ease-in-out .25s;
}
.callBack .bottom button span{
    position: relative;
    z-index: 3;
}

.news{
    background-image: url(../img/bg-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 130px;
    position: relative;
}
.news::before,
.news::after{
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
}
.news::before{
    top: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}
.news::after{
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
    background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}
.news .title{
    text-align: center;
    position: relative;
    margin: 60px 0 43px;
}
.news .title::before{
    content: '';
    display: block;
    height: 70px;
    width: 1px;
    background-color: #0a97aa;
    margin: 0 auto;
}
.news .title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 420px;
    height: 27px;
    background-color: #f0f6f6;
    -webkit-transform: skewX(-20deg) translateX(-50%);
    -ms-transform: skewX(-20deg) translateX(-50%);
    transform: skewX(-20deg) translateX(-50%);
    z-index: 1;
}
.news .title span{
    text-transform: uppercase;
    font-size: 18px;
    color: #0a97aa;
    font-family: 'Proxima Nova Regular';
}
.news .title h3{
    font-size: 50px;
    color: #333;
    font-family: 'Oswald Demi BoldItalic';
    margin: 0;
    z-index: 2;
    position: relative;
}
.news .content{
    width: 70.5%;
    max-width: 1400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.news .content > a{
    margin-left: auto;
    color: #0a97aa;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Regular';
    display: block;
    margin-bottom: 20px;
}
.news .content > a::after{
    content: '';
    display: inline-block;
    height: 11px;
    width: 31px;
    background-image: url(../img/arrow-blue.png);
    background-repeat: no-repeat;
    margin-left: 15px;
    -webkit-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}
.news .content > a:hover::after{
    margin-left: 8px;
    margin-right: 7px;
    -webkit-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}
.news .content .inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.news .content .inner .main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 5%;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    background: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.news .content .inner .main::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    display: block;
    height: 100%;
    width: 50px;
    background-color: #0a97aa;
    -webkit-transition: left ease-in-out .25s;
    -o-transition: left ease-in-out .25s;
    transition: left ease-in-out .25s;
}
.news .content .inner .main:hover::before{
    left: 0;
    -webkit-transition: left ease-in-out .25s;
    -o-transition: left ease-in-out .25s;
    transition: left ease-in-out .25s;
}
.news .content .inner .main::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 16px;
    display: block;
    height: 16px;
    width: 18px;
    background-image: url(../img/arrow-white.png);
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: opacity ease-in-out .25s;
    -o-transition: opacity ease-in-out .25s;
    transition: opacity ease-in-out .25s;
}
.news .content .inner .main:hover::after{
    opacity: 1;
    -webkit-transition: opacity ease-in-out .25s .25s;
    -o-transition: opacity ease-in-out .25s .25s;
    transition: opacity ease-in-out .25s .25s;
}
.news .content .inner .main > div.img{
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.news .content .inner .main > div.text{
    padding: 7% 5% 2% 7%;
    width: 55%;
}
.news .content .inner .main > div.text span{
    font-size: 16px;
    color: #828c90;
    font-family: 'Proxima Nova Regular';
}
.news .content .inner .main > div.text h4{
    font-size: 36px;
    color: #333;
    font-family: 'Oswald Demi BoldItalic';
    text-transform: uppercase;
    margin: 8px 0 0 0;
    line-height: 1.35;
}
.news .content .inner .main > div.text p{
    font-size: 18px;
    color: #828c90;
    font-family: 'Proxima Nova Regular';
    margin: 15px 5px 0 0;
    line-height: 1.35;
}
.news .content .inner .right{
    width: 29%;
}
.news .content .inner .right .new{
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.news .content .inner .right .new img{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}
.news .content .inner .right .new:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}
.news .content .inner .right .new:nth-of-type(1){
    margin-bottom: 42px;
}
.news .content .inner .right .new .text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.news .content .inner .right .new .text span{
    color: #0a97aa;
    font-size: 16px;
    font-family: 'Proxima Nova Regular';
}
.news .content .inner .right .new .text h5{
    color: #fff;
    font-family: 'Oswald Demi BoldItalic';
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 17px 0 0 0;
    line-height: 1.2;
    max-width: 100%;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 50;
    opacity: 1;
    -webkit-transition: 1s all;
    transition: 1s all;
    visibility: visible;
}
.preloader .loader {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.preloader .loader img{
    max-width: 100%;
}
.preloader.done {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 1s all;
    transition: 1s all;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.result{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    height: 550px;
    width: 550px;
    color: #000;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}
.result.visible {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.result img{
    margin: 30px 0 20px;
}
.result h4{
    text-transform: uppercase;
    font-family: 'Oswald Demi BoldItalic';
    color: #000;
    font-size: 18px;
    line-height: 1;
    margin: 0;
}
.result p {
    font-family: 'Oswald Demi BoldItalic';
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
    margin: 0;
    max-width: 200px;
    text-align: center;
}
.result.form-error img{
    margin-top: 0;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}

@-webkit-keyframes rotate{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes rotate{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
    