@media screen and (min-width: 1921px){
	.aboutCompany::after{
		right: -16px;
		left: initial;
	}
}
@media screen and (max-width: 1700px){
	.aboutCompany .icons li p{
		font-size: 18px;
	}
	.aboutCompany::before{
		width: 33%;
		left: -15.5%;
	}
	.news .content .inner .main > div.text h4{
		font-size: 30px;
	}
	.news .content .inner .main > div.text {
	    padding: 5% 5% 2% 5%;
	}
	.news .content .inner .right .new .text h5{
		font-size: 22px;
		padding: 0 30px;
	}
}
@media screen and (max-width: 1600px){
	.news .content .inner .right {
	    width: 25%;
	}
	.aboutCompany::before{
		width: 35%;
		left: -17.5%;
	}
}
@media screen and (max-width: 1500px){
	.aboutCompany .icons li p{
		margin: 0;
	}
	.aboutCompany .title h2{
		font-size: 50px;
	}
	.aboutCompany .title span{
		font-size: 16px;
		line-height: 1.4;
	}
	.aboutCompany .icons li .icon{
		-webkit-transform: scale(.8);
		-ms-transform: scale(.8);
		transform: scale(.8);
	}
	.aboutCompany .icons li:nth-child(1) {
	    margin-left: 15%;
	}
	.aboutCompany .icons li:nth-child(2){
		margin-right: 10%;
	}
	.aboutCompany .icons li:nth-child(3){
		margin-left: 5%;
	}
	.aboutCompany .icons li:nth-child(4){
		margin-right: 20%;
	}
	.aboutCompany .icons li:nth-child(5){
		margin-left: -5%;
	}
	.aboutCompany::after{
		left: initial;
		right: -180px;
	}
	.preloader .loader img{
		max-width: 100px;
	}
	.callBack h3{
		font-size: 60px;
		margin: 100px 0 45px 0;
	}
}
@media screen and (max-width: 1400px){
	.starProduct h1{
		font-size: 60px;
	}
	.starProduct h1::before{
		height: 100px;
	}
	.starProduct h1 + span{
		font-size: 20px;
	}
	.starProduct .content > div >div span{
		font-size: 25px;
	}
	.starProduct .content > div >div::before{
		width: 50px;
		margin-right: 20px;
	}
	.news .content .inner .main > div.text p,
	.news .content .inner .main > div.text h4{
		line-height: 1.2;
	}
	.news .content .inner .right .new .text h5{
		font-size: 20px;
		padding: 0 15px;
	}
	.callBack form label{
		width: calc((100% - 50px)/3);
	}
	.news .content .inner{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		max-width: 100%;
	}
	.news .content .inner .main{
		margin: 0;
	}
	.news .content .inner .right{
		width: 100%;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
        justify-content: space-between;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
        align-items: center;
        margin-top: 50px;
	}
	.news .content .inner .right .new:nth-of-type(1) {
	    margin-bottom: 0;
	}
	.news .content{
		max-width: 826px;
		width: 80%;
	}
	.news .content .inner .main > div h4 {
	    font-size: 35px;
	}
	.news .content .inner .main > div p, .news .content .inner .main > div h4 {
	    line-height: 1.35;
	}
	.news .content .inner .right .new .text h5{
		font-size: 28px;
	}
	.aboutCompany::before{
		width: 40%;
		left: -23%;
	}
	.aboutCompany .title h2{
		margin-left: 70px;
	}
	.aboutCompany .title::before{
		left: 55px;
	}
	.aboutCompany .title::after{
		left: -25px;
	}
	.callBack::after{
		left: 18%;
	}
}
@media screen and (max-width: 1300px){
	.aboutCompany .icons li:nth-child(2),
	.aboutCompany .icons li:nth-child(4){
		margin-bottom: 0;
	}
	.aboutCompany .icons li:nth-child(2) .icon,
	.aboutCompany .icons li:nth-child(4) .icon{
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.aboutCompany .icons li:nth-child(4){
		margin-top: -15px;
	}
	.callBack form label{
		padding: 18px 20px;
	}
	.callBack form label::after{
		left: 0;
		height: 35px;
		width: 125px;
	}
	.callBack form{
		width: 80%;
	}
	.aboutCompany .col-md-10{
		width: 80%;
	    float: none;
	    margin: 0 auto;
	}
	.aboutCompany .col-md-7{
		width: 60%;
    	margin-left: 34%;
	}
	.aboutCompany .icons li:nth-child(1) {
	    margin-left: 20%;
	}
	.aboutCompany .icons li:nth-child(3) {
	    margin-left: 8%;
	}
	.aboutCompany .icons li:nth-child(4) {
	    margin-right: 23%;
	}
}
@media screen and (max-width: 1200px){
	.news .content .inner .right{
		margin-top: 30px;
	}
	.news .content .inner .right .new{
		max-width: calc(50% - 15px);
	}
	.news .content .inner .main > div h4 {
	    font-size: 30px;
	}
	.news .content .inner .main > div p{
		font-size: 16px;
	}
	.aboutCompany .icons li p {
	    font-size: 16px;
	}
	.aboutCompany::after{
		opacity: .5;
	}
	.aboutCompany .title::after {
	    left: 20px;
	    width: 50px;
	}
	.aboutCompany .title::before {
	    left: 70px;
	}
}
@media screen and (max-width: 1100px){
	.starProduct h1 {
	    font-size: 55px;
	}
	section.starProduct{
		max-width: 80%;
    	margin: 70px auto;
	}
	.starProduct h1 + span{
		letter-spacing: 2.75px;
	}
	.aboutCompany .title h2 {
	    font-size: 40px;
	}
	.starProduct h1::before {
	    height: 80px;
	    margin: 0 auto;
	}
	.starProduct .content > div >div span {
	    font-size: 22px;
	}
	.aboutCompany .icons li .icon{
		-webkit-transform: scale(.7);
	    -ms-transform: scale(.7);
	    transform: scale(.7);
	}
	.aboutCompany .icons li p {
	    font-size: 16px;
	}
	.aboutCompany .title h2 {
	    margin-left: 80px;
	}
	.aboutCompany .title::before {
	    top: 22px;
	}
	.aboutCompany .title::after {
	    left: 20px;
	    top: 24px;
	}
	.aboutCompany .icons li .icon{
		width: 130px;
	}
	.aboutCompany::after{
		right: -210px;
	}
}
@media screen and (max-width: 1000px){
	.callBack::before{
		width: 50%;
		left: -20%;
	}
	.aboutCompany .icons li:nth-child(1){
		margin-left: 18%;
	}
	.aboutCompany .icons li:nth-child(2){
		margin-left: 9%;
		margin-right: 0;
	}
	.aboutCompany .icons li:nth-child(3){
		margin-left: 1%;
	}
	.aboutCompany .icons li:nth-child(4){
		margin-left: -7%;
		margin-right: 0;
	}
	.aboutCompany .icons li:nth-child(5){
		margin-left: -14%;
	}
	.aboutCompany .icons li:nth-child(2) .icon,
	.aboutCompany .icons li:nth-child(4) .icon{
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0;
	}
	.aboutCompany::before{
		left: -25%;
	}
	.aboutCompany .col-md-7 {
	    width: 60%;
	    margin-left: 35%;
	}
	.aboutCompany .col-md-10{
		width: 75%;
	}
	.starProduct h1, .callBack h3 {
	    font-size: 50px;
	}
	.callBack::before{
		height: calc(100% + 80px);
		top: -40px;
	}
	.callBack::after {
	    left: calc(50% - 360px);
	    top: -67px;
	}
	.callBack .bottom button{
		margin-top: 30px;
		padding: 15px 50px;
		font-size: 16px;
		letter-spacing: 1px;
	}
	.callBack h3{
		margin: 110px 0 70px 0;
	}
	.callBack form label span.hint{
		top: 3px;
		font-size: 11px;
	}
	.starProduct h1 + span {
	    font-size: 18px;
	}
	.callBack form {
	    width: 85%;
	}
}
@media screen and (max-width: 900px){
	.news .content {
	    width: 85%;
	}
	.callBack form label::after{
		width: 75px;
		left: 2px;
		top: -3px;
		border-top: 3px solid #0a97aa;
    	border-left: 4px solid #0a97aa;
	}
	.callBack form label.error::after{
		border-top: 3px solid red;
    	border-left: 4px solid red;
	}
	.preloader .loader img {
	    max-width: 70px;
	}
}
@media screen and (max-width: 850px){
	.aboutCompany .icons li p{
		max-width: 220px;
	}
	.aboutCompany{
		padding: 100px 0 65px;
	}
	.callBack form .top{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.callBack h3 {
	    margin: 50px 0 10px 0;
	}
	.callBack form label {
	    width: 100%;
	    margin-top: 20px;
	    max-width: 430px;
	}
	.callBack form label.error span.error::before{
		display: none;
	}
	.callBack form label span.error{
		top: -16px;
    	color: red;
	}
	.result{
		height: 350px;
    	width: 350px;
	}
	.result img{
		max-width: 70px;
	}
}
@media screen and (max-width: 800px){
	.starProduct h1, .callBack h3, .news .title h3, .aboutCompany .title h2 {
	    font-size: 45px;
	}
	.starProduct h1::before{
		height: 70px;
	}
	.starProduct .content > div.right {
	    margin-top: 150px;
	}
	section.starProduct{
		max-width: calc(100% - 60px);
		margin: 50px auto;
	}
	.aboutCompany .title::before,
	.aboutCompany .title::after{
		display: none;
	}
	.aboutCompany .title h2 {
	    margin-left: 50px;
	}
	.news .content {
	    width: 90%;
	}
}
@media screen and (max-width: 750px){
	.aboutCompany::before {
	    left: -30%;
	}
	.aboutCompany .col-md-7 {
	    width: 65%;
	    margin-left: 30%;
	}
	.aboutCompany::after {
	    right: -250px;
	}
	.aboutCompany .icons li .icon {
	    -webkit-transform: scale(.6);
	    -ms-transform: scale(.6);
	    transform: scale(.6);
	}
	.aboutCompany .icons li p {
	    font-size: 15px;
	}
	.callBack{
		margin: 150px auto 80px;
	}
}
@media screen and (max-width: 700px){
	.starProduct .content{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 auto 150px;
	}
	.starProduct .content > div{
		max-width: 100%;
	}
	.starProduct .content > div.right {
	    margin-top: 30px;
	}
	.starProduct h1 + span{
		margin: 0 0 40px 0;
	}
	.news .content .inner .main > div.text h4 {
	    font-size: 27px;
	}
	.news .content .inner .right .new .text h5 {
	    font-size: 22px;
	}
	.news .content .inner .main > div.text,
	.news .content .inner .main > div.img{
		width: 50%;
	}
	.news{
		padding: 60px 0 70px;
	}
	.news .title::after{
		width: 300px;
	}
	.news .content > a{
		font-size: 16px;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 650px){
	.aboutCompany::before {
	    left: -40%;
	}
	.aboutCompany::after {
	    right: -320px;
	}
	.starProduct h1, .callBack h3, .news .title h3, .aboutCompany .title h2 {
	    font-size: 40px;
	}
	.aboutCompany .title span {
	    font-size: 15px;
	    line-height: 1.25;
	}
}
@media screen and (max-width: 600px){
	.aboutCompany::before{
		display: none;
	}
	.aboutCompany .col-md-7 {
	    width: 90%;
	    margin-left: 5%;
	}
	.aboutCompany .col-md-10, .callBack form {
	    width: 90%;
	}
	.aboutCompany .icons li:nth-child(1), 
	.aboutCompany .icons li:nth-child(2),
	.aboutCompany .icons li:nth-child(3),
	.aboutCompany .icons li:nth-child(4),
	.aboutCompany .icons li:nth-child(5){
	    margin: 0 0 0 0;
	}
	.aboutCompany .icons li .icon {
	    -webkit-transform: scale(.8);
	    -ms-transform: scale(.8);
	    transform: scale(.8);
	}
	.aboutCompany::after {
	    opacity: .35;
	}
	.news .content .inner .main > div.text h4 {
	    font-size: 22px;
	}
	.news .content .inner .main > div.text p {
	    font-size: 14px;
	    text-align: justify;
	}
	.aboutCompany .title h2{
		margin-left: 0;
	}
	.callBack::before {
	    width: 70%;
	    left: -30%;
	}
	.callBack::after{
		left: calc(50% - 400px);
	}
}
@media screen and (max-width: 550px){
	.news .content .inner .main > div.img{
		width: 45%;
	}
	.news .content .inner .main > div.text{
		width: 55%;
	}
	.callBack::before{
		left: -30%;
	}
	.callBack form label{
		width: calc(100% - 30px);
	}
}
@media screen and (max-width: 500px){
	.result{
		max-width: calc(100% - 60px);
    	height: 250px;
	}
	.starProduct h1, .callBack h3, .news .title h3, .aboutCompany .title h2 {
	    font-size: 36px;
	}
	.starProduct h1 + span{
		letter-spacing: 1px;
		font-size: 16px;
	}
	.starProduct .content{
		margin: 0 auto 50px;
	}
	.aboutCompany {
	    padding: 80px 0 65px;
	}
	.news .content .inner .main{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.news .content .inner .main > div.img{
		max-height: 350px;
	}
	.news .content .inner .main > div.text{
		padding: 7%;
	}
	.news .content .inner .main > div.img,
	.news .content .inner .main > div.text{
		width: 100%;
	}
	.news .content .inner .main > div.img img{
		width: 100%;
	}
	.news .content .inner .main::before,
	.news .content .inner .main::after{
		display: none;
	}
	.callBack form label{
		padding: 12px 20px;
	}
	.callBack form label::after{
		left: -1px;
	}
	.callBack form label span.error{
		top: -14px;
	}
	.callBack h3 {
	    margin: 80px 0 10px 0;
	}
	.aboutCompany .icons li .icon {
	    -webkit-transform: scale(.7);
	    -ms-transform: scale(.7);
	    transform: scale(.7);
	}
	.aboutCompany .title h2{
		font-size: 33px;
	}
	.callBack .bottom button{
		padding: 12px 40px;
	}
	.callBack .bottom button::after{
		left: -5px;
	}
	.news .content .inner .right{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.news .content .inner .right .new,
	.news .content .inner .right .new img {
	    max-width: 100%;
	    width: 100%;
	}
	.news .content .inner .right .new:nth-of-type(1) {
	    margin-bottom: 30px;
	}
	.news .content {
	    width: calc(100% - 60px);
	}
	.news .content .inner .main > div.text h4 {
	    font-size: 25px;
	}
	.news .content .inner .main > div.text p{
		font-size: 16px;
	}
	.aboutCompany::after {
	    opacity: .15;
	}
}
@media screen and (max-width: 400px){
	.starProduct h1, .callBack h3, .news .title h3, .aboutCompany .title h2 {
	    font-size: 27px;
	}
	.starProduct h1 + span{
		font-size: 14px;
	}
	.starProduct .content > div >div{
		padding: 5% 7.5%;
	}
	.starProduct .content > div >div span {
	    font-size: 16px;
	}
	.starProduct .content > div >div::before {
	    width: 40px;
	    margin-right: 10px;
	}
	.starProduct h1::before {
	    height: 50px;
	}
	.aboutCompany .title{
		padding-left: 0;
	}
	.aboutCompany .title span,
	.aboutCompany .icons li p,
	.news .content .inner .main > div.text p,
	.news .content > a{
		font-size: 14px;
	}
	.aboutCompany .icons{
		margin-left: -20px;
	}
	.callBack::before{
		width: 75%;
		left: -35%;
	}
	.callBack::after{
		left: calc(50% - 455px);
    	top: -62px;
	}
	.news .title::after {
	    width: 210px;
	    bottom: -10px;
	}
	.news .content .inner .main > div.text h4,
	.news .content .inner .right .new .text h5 {
	    font-size: 20px;
	}
	.aboutCompany .icons li .icon{
		min-width: 130px;
	}
	.aboutCompany .icons li:nth-child(2) .icon{
		min-width: 150px;
	}
}
